@model List<ECommerce.Core.Features.ProductListing.Models.Product>

<h1>Product Listing</h1>

@foreach (var product in Model)
{
    <div>
  <h4>@product.Name</h4>
  <p>@product.Description</p>
  <p>Price: @product.Price</p>
  <a href="@Url.Action("AddToCart", "Cart", new { productId = product.Id })"
    >Add to Cart</a
  >
</div>
} 
